<template>
  <div class="nodform-container">
    <div class="bar-container">
      <div class="progress-title">Your Progress</div>
      <div class="progress-text"></div>
      <div class="form-progress-bar">
        <div class="inner-form-bar" :style="barStyling"></div>
      </div>
    </div>
    <div>
      <form>
        <div class="form-inner-container" v-for="(object, index) in this.data" :key="index">
          <div v-if="object.type === 'short-text'" class="form-item">
            <label for="FirstName">{{object.name}}</label>
            <input name="FirstName" v-model="object.val"
             :type="object.type" @blur="calculateForm" required />
          </div>
          <div v-if="object.type === 'date'" class="form-item">
            <label for="DOB">{{object.name}}</label>
            <input name="DOB" v-model="object.val" type="date" @blur="calculateForm" required />
          </div>
          <div v-if="object.type === 'email'" class="form-item">
            <label for="Email">{{object.name}}</label>
            <div class="tooltip-container">
              Tip!
              <span class="tooltip">{{object.description}}</span>
            </div>
            <input name="Email" v-model="object.val" type="email" @blur="calculateForm"
             required />
          </div>
          <div v-if="object.type === 'long-text'" class="form-item">
            <label for="Address">{{object.name}}</label>
            <div class="tooltip-container">
              Tip!
              <span class="tooltip">{{object.description}}</span>
            </div>
            <input name="Address" v-model="object.val" type="text" @blur="calculateForm"
            required />
          </div>
          <div v-if="object.type === 'phone-number'" class="form-item">
            <label for="ContactNumber">{{object.name}}</label>
            <input name="ContactNumber" v-model="object.val" type="tel" @blur="calculateForm"
             required />
          </div>
          <div v-if="object.type === 'dropdown'" class="form-item">
            <label>{{object.name}}</label>
            <select name="gender" v-model="object.val" @blur="calculateForm">
              <option disable selected value>-- Select a Gender --</option>
              <option v-for="(genderName, index) in object.options"
               :key="index"
               >{{genderName}}</option>
            </select>
          </div>
          <div v-if="object.type === 'multi-select'" class="form-item">
            <label>{{object.name}}</label>
            <div class="tooltip-container">
              Tip!
              <span class="tooltip">{{object.description}}</span>
            </div>
            {{object.vals}}
            <div class="recomendation-container">
              <div class="recomendation"
              v-for="(option,index) of object.options"
              :key="index">
                <input type="checkbox"
                :value="option" :id="option" v-model="object.val"
                @blur="calculateForm"/>
                <label :for="option">{{option}}</label>
              </div>
             </div>
          </div>
        </div>

      </form>
      <JsonCSV class="submit-container btn btn-default" :data="data" name="submission.csv">
           <input type="button" value="Submit" :disabled="isDisabled" />
      </JsonCSV>
    </div>
  </div>
</template>

<script>
import JsonCSV from 'vue-json-csv';
import data from '../../db/database.json';

export default {
  components: {
    JsonCSV,

  },
  data() {
    return {
      data,
      progressBarValue: 0,
    };
  },
  computed: {
    isDisabled() {
      return this.progressBarValue !== 100;
    },
    barStyling() {
      return {
        width: `${this.progressBarValue}%`,
      };
    },

  },
  methods: {
    calculateForm() {
      let counter = 0;

      this.data.forEach((row) => {
        if (row?.val?.length) counter += 1;
      });

      this.progressBarValue = (counter / this.data.length) * 100;
    },
  },

};
</script>

<style>
.recomendation{
  text-align:start;
}
.tooltip-container{
  font-size: 14px;
  position: relative;
  display: flex;
  padding: 2px;
}
.tooltip{
  font-size: 12px;
}
.tooltip-container .tooltip {
  visibility: hidden;
  width: 70%;
  background-color: dodgerblue;
  color: #f1f1f1;

  border-radius:4px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
}
.tooltip-container:hover .tooltip {
  visibility: visible;
  bottom:1px;
  left:32px;
}
p {
  text-align: start;
  font-size: 12px;

}
.progress-title .progress-text {

  padding: 10px;
  text-align: start;

}
.nodform-container{
  padding-top: 10%;
}
.bar-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
form{
      width: 100%;
    display: flex;
    flex-direction: column;
}
.form-inner-container{
    display:flex;
    width:50%;
    flex-direction: column;
}
.form-item{
      display: flex;
    flex-direction: column;
    width: 60%;
}
label {
  text-align: start;
  padding-top: 10px;
  padding-left: 3px;
  padding-bottom: 8px;
}
.form-progress-bar{

  display: flex;
  width: 100%;
  background-color: grey;

}
.inner-form-bar{
  width: 0%;
  height: 30px;
  background-color: dodgerblue;
}
.submit-container{
  display:flex;
  padding: 10px ;

}
</style>
